/* Mobile style */
@font-face {
  font-family: "roboto";
  src: url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "roboto";
}

.nav-list,
.video-section,
.class,
.signup-section,
.meet-section,
.programs-question,
.members-wrapper {
  display: -ms-grid;
  display: grid;
}

.nav-list {
  text-decoration: none;
  margin-top: 2em;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video-section {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.video-section-title,
.video-section-description {
  text-align: center;
}

.signup-section,
.students,
.meet-section,
.programs-question {
  justify-items: center;
}

.signup-section {
  margin-bottom: 5rem;
}

.students {
  display: -ms-grid;
  display: grid;
  margin-top: 3rem;
}

.programs-question {
  background-color: #ffffff;
}

.class {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3em;
  background-color: #ffffff;
  border: 1px solid #1e84ea;
  padding-top: 1rem;
}

.members-wrapper {
  padding: 10px;
}

.nav-list__item {
  list-style: none;
  padding: 1em;
}

.nav-list__item a:link {
  text-decoration: none;
}

.video-section-title {
  width: 100%;
}

.schedule-button {
  background-color: #1e84ea;
  color: #ffffff;
}

.schedule-button {
  border-radius: 5%;
}

.schedule-tour:hover {
  background-color: #34eb7a;
}

.video-section-player {
  width: 100%;
  height: auto;
}

.video-section-player:hover {
  background-color: #ebd834;
}

.testimonial-1,
.testimonial-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.se-section,
.ux-section,
.digital-section {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  padding: 1em;
  line-height: 1em;
}

.programs-question-description {
  text-align: center;
}

.programs-question > p {
  color: #4251f5;
}

.programs-question-title {
  text-align: center;
  color: #4251f5;
}

.programs-question-title > p:hover {
  background-color: #34eb7a;
}

.meet-title,
.meet-description {
  text-align: center;
}

.read-story-section {
  color: #4251f5;
}

.course-2,
.course-1,
.course-3 {
  font-size: 2rem;
  line-height: 1.6;
  text-align: center;
}

.date-1,
.date-2,
.date-3 {
  border: solid #1e84ea;
  background-color: #1e84ea;
  color: #ffffff;
}

.learn-to-1,
.learn-to-2,
.learn-to-3 {
  border: solid #1e84ea;
  color: #ffffff;
  background-color: #1e84ea;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
}

.learn-to-1:hover,
.learn-to-2:hover,
.learn-to-3:hover {
  background-color: #34eb7a;
}

.members-wrapper > div {
  padding: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.row-person1,
.row-person2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.members-team1,
.members-team2,
.members-team3,
.members-team4 {
  display: -ms-grid;
  display: grid;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.members-title {
  text-align: center;
}

.students-video:hover {
  background-color: #34eb7a;
}

.signup-section-description {
  text-align: center;
}

.signup-title {
  font-size: 2em;
}

.contact-form-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.email-box,
.phone-number-box {
  width: 100%;
}

.contact-form-section > button {
  justify-items: center;
}

button {
  padding: 5px 30px;
  border: 1px solid;
  background-color: #ffffff;
  color: #4251f5;
  margin-top: 1rem;
}

button:hover {
  background-color: #34eb7a;
}

@media (min-width: 700px) {
  .nav-list,
  .testimonials-container,
  .testimonials-1,
  .testimonial-2,
  .class,
  .students,
  .members-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-list {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .meet-description {
    display: -ms-grid;
    display: grid;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 500px;
    margin: 1em;
  }
}

@media (min-width: 990px) {
  .class,
  .nav-list,
  .testimonials-container,
  .testimonials-1,
  .testimonial-2,
  .members-wrapper,
  .row-person1,
  .row-person2,
  .members-team1,
  .members-team2,
  .members-team3,
  .members-team4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-list {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .meet-description {
    width: 900px;
    margin: 1em;
  }
  .members-wrapper {
    padding: 10px;
  }
  .members-wrapper > div {
    padding: 10px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 25%;
            flex: 1 1 25%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .row-person1,
  .row-person2,
  .students {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .members-team1,
  .members-team2,
  .members-team3,
  .members-team4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .students {
    display: -ms-grid;
    display: grid;
    margin-top: 3rem;
    padding-bottom: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */