@font-face {
  font-family: "roboto";
  src: url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -ms-grid;
  display: grid;
  font-family: roboto;
}

.navbar {
  font-family: Arial, Helvetica, sans-serif;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 1em;
}

.schedule-tour {
  background-color: #1e84ea;
  color: #ffffff;
}

.schedule-tour:hover {
  background-color: #34eb7a;
}

.schedule-tour:hover {
  background-color: #34eb7a;
}

li a {
  font-family: Arial, Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #1e84ea;
  padding: 1em;
  margin: 1em;
  color: #1e84ea;
}

.player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
}

.player:hover {
  background-color: #ebd834;
}

.testimonials-container {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #ebd834;
}

.video2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ebd834;
}

.se-section,
.ux-section,
.digital-section {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  padding: 1em;
  line-height: 1em;
  border: solid #ffffff;
}

.programs-question > p {
  color: #4251f5;
}

h4:hover,
.programs-question > p:hover {
  background-color: #34eb7a;
}

h4 {
  color: #4251f5;
}

.course-2,
.course-1,
.course-3 {
  font-size: 2rem;
}

.date-1,
.date-2,
.date-3 {
  border: solid #1e84ea;
  background-color: #1e84ea;
  color: #ffffff;
}

.learn-to-1,
.learn-to-2,
.learn-to-3 {
  border: solid #1e84ea;
  color: #ffffff;
  background-color: #1e84ea;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
}

.learn-to-1:hover,
.learn-to-2:hover,
.learn-to-3:hover {
  background-color: #34eb7a;
}

img {
  height: 50px;
  width: auto;
}

.members-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row-wrap;
          flex-flow: row-wrap;
  padding: 20px;
}

.members-wrapper > div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* max-width: 25%; */
  padding: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
}

.row-person1,
.row-person2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h3 {
  text-align: center;
  font-weight: 900;
}

.students-video:hover {
  background-color: #34eb7a;
}

button {
  border-radius: 20px;
  background-color: #4251f5;
  color: #ffffff;
  margin-top: 1rem;
}

button:hover {
  background-color: #34eb7a;
}

.video-section {
  background-color: #de34eb;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 1rem;
}

.signup-section {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  margin-bottom: 5rem;
}

.students {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  background-color: #9fa0a3;
  margin-top: 3rem;
  padding-bottom: 2rem;
}

.meet-description {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  padding-bottom: 2rem;
}

.programs-question {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  background-color: #ffffff;
}

.class {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3em;
  background-color: #ffffff;
  border: 1px solid #1e84ea;
  padding-top: 1rem;
}

@media (min-width: 550px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-items: center;
  }
  .navbar,
  li .schedule-tour {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .members > .team-image,
  .board-image,
  .mentors-image,
  .advisors-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 650px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-items: center;
  }
  .navbar > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .testimonials-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */