/* Mobile style */
$purple: #4251f5;
$grey: #9fa0a3;
$blue: #1e84ea;
$white: #ffffff;
$red: #eb4034;
$yellow: #ebd834;
$pink: #de34eb;
$green: #34eb7a;
@font-face {
  font-family: "roboto";
  src: url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
}
// Global styles
* {
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  padding: 0;
  font-family: "roboto";
}
// block styles
.nav-list,
.video-section,
.class,
.signup-section,
.meet-section,
.programs-question,
.members-wrapper {
  display: grid;
}
.nav-list {
  text-decoration: none;
  margin-top: 2em;
  list-style: none;
  align-items: center;
}
.video-section {
  justify-content: center;
  width: 100%;
}
.video-section-title,
.video-section-description {
  text-align: center;
}
.signup-section,
.students,
.meet-section,
.programs-question {
  justify-items: center;
}
.signup-section {
  margin-bottom: 5rem;
}
.students {
  display: grid;
  margin-top: 3rem;
}
.programs-question {
  background-color: $white;
}
.class {
  justify-content: center;
  align-items: center;
  padding: 3em;
  background-color: $white;
  border: 1px solid $blue;
  padding-top: 1rem;
}
.members-wrapper {
  padding: 10px;
}
// layout styles
.nav-list__item {
  list-style: none;
  padding: 1em;
  a:link {
    text-decoration: none;
  }
}
.video-section-title {
  width: 100%;
}
.schedule-button {
  background-color: $blue;
  color: $white;
}
.schedule-button {
  border-radius: 5%;
}
.schedule-tour:hover {
  background-color: $green;
}
.video-section-player {
  width: 100%;
  height: auto;
}
.video-section-player:hover {
  background-color: $yellow;
}
.testimonial-1,
.testimonial-2 {
  display: flex;
}
.se-section,
.ux-section,
.digital-section {
  display: grid;
  justify-items: center;
  padding: 1em;
  line-height: 1em;
}
.programs-question-description {
  text-align: center;
}
.programs-question > p {
  color: $purple;
}
.programs-question-title {
  text-align: center;
  color: $purple;
}
.programs-question-title > p:hover {
  background-color: $green;
}
.meet-title,
.meet-description {
  text-align: center;
}
.read-story-section {
  color: $purple;
}
.course-2,
.course-1,
.course-3 {
  font-size: 2rem;
  line-height: 1.6;
  text-align: center;
}
.date-1,
.date-2,
.date-3 {
  border: solid $blue;
  background-color: $blue;
  color: $white;
}
.learn-to-1,
.learn-to-2,
.learn-to-3 {
  border: solid $blue;
  color: $white;
  background-color: $blue;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
}
.learn-to-1:hover,
.learn-to-2:hover,
.learn-to-3:hover {
  background-color: $green;
}

.members-wrapper > div {
  padding: 10px;
  flex: 1 1 25%;
  flex-direction: row;
}
.row-person1,
.row-person2 {
  display: flex;
  justify-content: center;
}
.members-team1,
.members-team2,
.members-team3,
.members-team4 {
  display: grid;
  flex-direction: row;
}
.members-title {
  text-align: center;
}
.students-video:hover {
  background-color: $green;
}
.signup-section-description {
  text-align: center;
}
.signup-title {
  font-size: 2em;
}
.contact-form-section {
  display: flex;
}
.email-box,
.phone-number-box {
  width: 100%;
}
button {
  margin: 30%;
  padding: 5px 30px;
  border: 1px solid;
  background-color: $white;
  color: $purple;
  margin-top: 1rem;
}
button:hover {
  background-color: $green;
}
@media (min-width: 700px) {
  .nav-list,
  .testimonials-container,
  .testimonials-1,
  .testimonial-2,
  .class,
  .students,
  .members-wrapper {
    display: flex;
  }
  .nav-list {
    justify-content: flex-end;
  }
  .meet-description {
    display: grid;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 500px;
    margin: 1em;
  }
}
@media (min-width: 990px) {
  .class,
  .nav-list,
  .testimonials-container,
  .testimonials-1,
  .testimonial-2,
  .members-wrapper,
  .row-person1,
  .row-person2,
  .members-team1,
  .members-team2,
  .members-team3,
  .members-team4 {
    display: flex;
  }
  .nav-list {
    justify-content: flex-end;
  }
  .meet-description {
    width: 900px;
    margin: 1em;
  }
  .members-wrapper {
    padding: 10px;
  }
  .members-wrapper > div {
    padding: 10px;
    flex: 1 1 25%;
    flex-direction: column;
  }
  .row-person1,
  .row-person2,
  .students {
    justify-content: center;
  }
  .members-team1,
  .members-team2,
  .members-team3,
  .members-team4 {
    flex-direction: column;
  }
  .students {
    display: grid;
    margin-top: 3rem;
    padding-bottom: 2rem;
  }
}
